.card,
.trayCard,
.trayOverlayCard {
  /* box-sizing: content-box; */
  border-radius: 3px;

  /* background-color: bisque; */
  color: black;
  cursor: pointer;
}

.tray {
  display: flex;
  margin-bottom: 10px;
  flex-wrap: wrap;
}

.canvasWindow {
  overflow: hidden;
  border-radius: 3px;
  border-color: #556b2f;
  border-width: 1px;
  border-style: solid;
  background: #e0e0e03d;
  cursor: all-scroll;
}
